html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  position: fixed;
  bottom: 50px;
  right: 20px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
}
.wrapper header{
  display: flex;
  align-items: center;
  column-gap: 15px; 
}

header h2{
  color: #4070f4;
  font-width: 500;
}

.wrapper .data{
  margin-top: 16px;
}

.wrapper .data p{
  color: #333;
  font-size: 16px;
}

.data p a{
  color: #4070f4;
  text-decoration: none;
}

.data p a:hover{
  color: #4070f4;
  text-decoration: underline;
} 

.wrapper .buttons{
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button .button{
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}

.button .button:hover{
  background-color: #034bf1;
}
  
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #ffffff;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #8ecdfb;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
